.header {
    height: $header-height;
    z-index: 999;
    background-color: $dark;
    color: $light;
    margin-bottom: 1rem;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
}

.header-logo {
    height: $header-height - 30px;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.container-fluid::before, .row::before {
    content: none;
}

.container-fluid::after, .row::after {
    content: none;
}

.metrics {
    text-align: right;
    padding-right: 5px;
    margin-top: 2px;
    display: inline-block;
    width: 100%;
}

body {
    overflow-y: auto !important;
}

.fwr1 {
    color: LightSalmon;
}

.fwr2 {
    color: LightGreen;
}

.fwr3 {
    color: LightSkyBlue;
}

.fwr4 {
    color: LightSteelBlue;
}

.cdr1 {
    color: red;
}

.cdr2 {
    color: green;
}

.cdr3 {
    color: blue;
}

.d-flex {
    display: flex !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.files {
    background-color: #5D3484;
    color: white;
    border: none;
    border-radius: 16px;
}

.closer {
    background-color: crimson;
    color: white;
}

