.nav-pills > li.active > a, .nav-pills > li > a:hover {
    background-color: $primary !important;
}

.nav-pills > li > a {
    border-radius: 90px;
    font-weight: bold;
    background-color: $secondary;
    color: $light;
    padding: 6px 10px;
}

.nav {
    margin-bottom: 5px;
}

.nav-tabs > li > a {
    border-radius: 15px 15px 0 0;
    color: #555;
}
